-==1.14.3
-orch==1.2.0
-umpy==1.14.5
absl-py==0.9.0
alabaster==0.7.12
appdirs==1.4.4
argh==0.26.2
asn1crypto==1.3.0
astroid==2.3.3
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.4.3
babel==2.8.0
backcall==0.2.0
bcolz==1.2.1
bcrypt==3.1.7
bleach==3.1.5
blis==0.4.1
brotlipy==0.7.0
cached-property==1.5.2
cachetools==4.1.0
catalogue==1.0.0
certifi==2018.1.18
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudpickle==1.4.1
colorama==0.4.3
configparser==5.0.1
cryptography==2.2.2
cycler==0.10.0
cymem==2.0.3
cython==0.29.21
dask==2021.1.1
dataclasses==0.7
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20181111
distlib==0.3.1
docker-pycreds==0.4.0
docutils==0.16
easydict==1.7
entrypoints==0.3
filelock==3.0.12
flake8==3.7.9
fuel==0.2.0
future==0.18.2
gitdb==4.0.5
gitpython==3.1.12
google-auth-oauthlib==0.4.1
google-auth==1.18.0
graphviz==0.8.4
grpcio==1.30.0
h5py==3.1.0
idna==2.6
imageio==2.9.0
imagenet-c==0.0.3
imagesize==1.2.0
importlib-metadata==1.6.1
importlib-resources==5.1.0
intel-openmp==2018.0.0
intervaltree==3.0.2
ipykernel==5.3.0
ipython-genutils==0.2.0
ipython==7.15.0
isort==4.3.21
jedi==0.15.2
jinja2==2.11.2
joblib==0.15.1
jsonpatch==1.26
jsonpointer==2.0
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
keyring==21.1.1
kiwisolver==1.2.0
lazy-object-proxy==1.5.0
markdown==3.2.2
markupsafe==1.1.1
matplotlib==3.2.2
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.2
mkl-random==1.0.1
mkl==2018.0.0
more-itertools==8.4.0
murmurhash==1.0.2
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.4
nltk==3.5
notebook==6.0.3
numexpr==2.7.2
numpy==1.16.1
numpydoc==1.0.0
oauthlib==3.1.0
olefile==0.46
opencv-python==3.4.0.12
packaging==20.4
pandas==1.1.5
pandocfilters==1.4.2
paramiko==2.4.2
parso==0.5.2
pathtools==0.1.2
pexpect==4.8.0
picklable-itertools==0.1.1
pickleshare==0.7.5
pillow==5.2.0
pip==21.0.1
pipenv==2020.11.15
plac==1.1.3
pluggy==0.13.1
preshed==3.0.2
progressbar2==3.53.1
progressbar==2.5
prometheus-client==0.8.0
promise==2.3
prompt-toolkit==3.0.5
protobuf==3.12.2
psutil==5.7.0
py==1.9.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycodestyle==2.5.0
pycparser==2.20
pydocstyle==5.0.2
pyflakes==2.1.1
pygments==2.6.1
pylint==2.4.4
pynacl==1.3.0
pyopenssl==17.5.0
pyparsing==2.4.7
pyrsistent==0.16.0
pysocks==1.7.1
pytest==5.4.3
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.31.10
python-utils==2.5.5
pytorch-metric-learning==0.9.96
pytz==2020.1
pywavelets==1.1.1
pywin32-ctypes==0.2.0
pywin32==227
pywinpty==0.5.7
pyyaml==5.3.1
pyzmq==18.1.1
qdarkstyle==2.8.1
qtawesome==0.7.2
qtconsole==4.7.5
qtpy==1.9.0
regex==2020.10.15
requests-oauthlib==1.3.0
requests==2.18.4
rope==0.17.0
rsa==4.6
rtree==0.9.4
sacremoses==0.0.43
scikit-image==0.14.1
scikit-learn==0.19.2
scipy==1.5.0
send2trash==1.5.0
sentence-transformers==0.3.8
sentencepiece==0.1.91
sentry-sdk==0.19.5
setuptools==47.3.1.post20200622
shortuuid==1.0.1
six==1.15.0
sklearn==0.0
smmap==3.0.5
snowballstemmer==2.0.0
sortedcontainers==2.2.2
spacy==2.3.2
sphinx==3.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder-kernels==1.9.1
spyder==4.1.3
srsly==1.0.2
subprocess32==3.5.4
tables==3.6.1
tb-nightly==2.3.0a20200627
tbb==0.1
tensorboard-plugin-wit==1.6.0.post3
tensorboardx==1.2
terminado==0.8.3
testpath==0.4.4
thinc==7.4.1
threadpoolctl==2.1.0
tifffile==2020.7.17
tokenizers==0.8.1rc2
toolz==0.11.1
torch==1.7.0
torchaudio==0.7.0
torchfile==0.1.0
torchvision==0.2.2
tornado==6.0.4
tqdm==4.19.9
traitlets==4.3.3
transformers==3.3.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
typing==3.7.4.1
ujson==1.35
urllib3==1.22
virtualenv-clone==0.5.4
virtualenv==20.4.1
visdom==0.1.8.9
wand==0.6.2
wandb==0.10.17
wasabi==0.8.0
watchdog==0.10.2
wcwidth==0.2.4
webencodings==0.5.1
websocket-client==0.57.0
werkzeug==1.0.1
wheel==0.34.2
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
yapf==0.29.0
zipp==3.1.0